@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2A2939;
  --foreground: #4F6D7A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #DBD9EE;
    --foreground: #397d96;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  /*font-family: Arial, Helvetica, sans-serif;*/
}

@layer base {
  .title {
    @apply bg-primary text-white text-2xl font-bold text-center py-4 shadow-md
  }
  .navigationContent {
    @apply w-60 min-h-screen  py-6 px-4 shadow-lg bg-secondary ;
  }
  .logo {
    @apply flex justify-center py-4 mb-4 shadow-lg bg-base;
  }
  .navigation1 {
    @apply min-h-screen pl-2 py-8 bg-base text-secondary flex flex-col space-y-4;
  }
  .mainContent {
    @apply p-8 font-sans bg-background min-h-screen;
  }
  .workArea {
    @apply min-h-screen p-6 bg-secondary rounded shadow grid grid-cols-3 gap-4;
  }
  .questions {
    @apply p-1 bg-secondary rounded shadow grid grid-cols-3;
  }
  h1 {
    @apply text-3xl font-bold text-secondary text-center;
  }
  .mainContent p {
    @apply text-lg  text-secondary text-justify px-16 py-2;
  }
  .nav-link {
    @apply text-secondary py-2 px-4 transition-colors duration-300;
  }

  .nav-link-active {
    @apply text-primary font-bold border-l-4 border-primary pl-2;
  }
  .wbsInfo {
    @apply text-xl font-bold text-accent mb-6 text-center;
  }
  .sectionHeading {
    @apply text-xl font-bold text-accent mb-6 text-left;
  }
  .subsectionHeading {
    @apply text-white;
  }
  .label1 {
    @apply text-left mr-4 text-2xl text-white;
  }
  .label2 {
    @apply text-left mr-6 text-white;
  }
  .grade {
    @apply py-2 text-accent
  }
  .gradetext {
    @apply text-lg font-bold text-accent mb-6 text-center;
  }
  .fixedData {
    @apply text-white font-bold ;
  }
  .checkbox1 {
    @apply text-accent;
  }
  .input1 {
    @apply rounded p-2 border rounded text-primary placeholder:text-accent border-accent rounded mr-2 focus:outline-none focus:ring-2
  }
  .inputShow {
    @apply rounded text-dark bg-background pl-1 py-0 mr-2 my-1 w-1/2;
  }
  .inputShowName {
    @apply rounded text-dark bg-background pl-1 py-0 mr-2 my-1 w-1/4;
  }
    .button1 {
      @apply p-3 px-6
      text-white text-sm font-bold
      bg-accent border-2 border-secondary
      shadow-[4px_4px_0px_rgba(0,0,0,0.4)]
      rounded-lg
      transition-all duration-200
      hover:shadow-[2px_2px_0px_rgba(0,0,0,0.6)]
      hover:translate-y-1
      hover:bg-secondary
      active:shadow-none active:translate-y-2
      focus:outline-none focus:ring-2 focus:ring-offset-2;
    }

  .option-divider {
    border-top: 1px solid ;
    margin-top:10px;
  }

}
